body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    margin: 0;
    padding: 20px;
}
.header {
    text-align: center;
    color: white;
}

.task-list {
    background-color: #6a0dad;
    border-radius: 5px;
    width: 325px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}


#task-list {
    padding: 10px;
    margin: 0;
    width: 100%;
}

#task-list li {
    background-color:#521f76;
    margin: 8px 0;
    padding: 10px 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#task-list button {
    background: transparent;
    border: none;
}
